#!/bin/bash

if [ -z "$ROOT" ]
then
   ROOT=$(while ! test -e env.sh.sample; do cd ..; done; pwd)
	export ROOT
fi


export SCRIPTS_FOLDER=$ROOT/scripts
export TMP_FOLDER=$ROOT/tmp
export TEMPLATES_FOLDER=$ROOT/templates
export MACHINE_FILES_FOLDER=$ROOT/machine-files

mkdir -p $TMP_FOLDER

#### MUST EDIT THESE VARIABLES #####
export USERNAME=yourusername
######################################

##### MAY EDIT THESE VARIABLES #####
export FILE_REPOSITORY=/home/$USERNAME/COMPOSE/servioticy-repository
export SERVIOTICY_INSTALL_DIR=/scratch/hdd/$USERNAME/servioticy
export ZK_DATA_DIR=/scratch/ssd/$USERNAME/servioticy/zookeeper  # SSD recommended
export ES_CLUSTER_NAME=serviolastictest
export CB_USERNAME=admin
export CB_PASSWORD=password
export CB_INIT_RAMSIZE=1200
export CB_BUCKET_RAMSIZE=200
export CB_BUCKET_REPLICA=1
export MACHINE_FILE_CB=couchbase.machines
export MACHINE_FILE_ES=elasticsearch.machines
export MACHINE_FILE_JETTY=jetty.machines
export MACHINE_FILE_ZK=zk.machines
export MACHINE_FILE_KAFKA=kafka.machines
export MACHINE_FILE_STORM=storm.machines
export MACHINE_FILE_IDM=idm.machines
export MACHINE_FILE_SECURITY=security.machines
export ES_HEAP_SIZE=2g
export ES_SHARD_REPLICAS=2
######################################


export CB_FILE_WGET=http://packages.couchbase.com/releases/3.1.0
export CB_FILE=couchbase-server-enterprise_3.1.0-ubuntu12.04_amd64.deb
export CB_FILE_MD5=$CB_FILE.md5
export CB_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/couchbase
export CB_DATA_DIR=$CB_INSTALL_DIR/var/lib/couchbase/data
export CB_MASTER=`cat $MACHINE_FILES_FOLDER/$MACHINE_FILE_CB | head -1`
export CB_STATUS_FILE=$TMP_FOLDER/cb_status.txt

export ES_FILE_WGET=https://download.elastic.co/elasticsearch/elasticsearch
export ES_FILE=elasticsearch-1.7.2.tar.gz
export ES_FILE_SHA1=$ES_FILE.sha1.txt
export ES_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/elasticsearch
export ES_LOG_DIR=$ES_INSTALL_DIR/logs
export ELASTICSEARCH_LOG_FILE=$ES_LOG_DIR/$ES_CLUSTER_NAME.log
export ES_DATA_DIR=$ES_INSTALL_DIR/data
export ES_CONF_TEMPLATE_FILE=$TEMPLATES_FOLDER/elasticsearch.yml

export JDK8_FILE_WGET=http://download.oracle.com/otn-pub/java/jdk/8u60-b27
export JDK8_FILE=jdk-8u60-linux-x64.tar.gz
export JDK8_FILE_MD5=$JDK8_FILE.md5
export JDK8_MD5=b8ca513d4f439782c019cb78cd7fd101
export JDK8_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/jdk1.8

export JETTY_FILE_WGET=http://download.eclipse.org/jetty/9.3.3.v20150827/dist
export JETTY_FILE=jetty-distribution-9.3.3.v20150827.tar.gz
export JETTY_FILE_MD5=$JETTY_FILE.md5
export JETTY_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/jetty
export JETTY_LOG_DIR=$JETTY_INSTALL_DIR/logs
export JETTY_MASTER=`cat $MACHINE_FILES_FOLDER/$MACHINE_FILE_JETTY | head -1`

export ZK_FILE_WGET=http://www.apache.org/dist/zookeeper/zookeeper-3.4.6
export ZK_FILE=zookeeper-3.4.6.tar.gz
export ZK_FILE_MD5=$ZK_FILE.md5
export ZK_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/zookeeper
export ZK_CONF_TEMPLATE_FILE=$TEMPLATES_FOLDER/zoo.cfg

export KAFKA_FILE_WGET=http://www.apache.org/dist/kafka/0.8.2.2/
export KAFKA_FILE=kafka_2.10-0.8.2.2.tgz
export KAFKA_FILE_MD5=$KAFKA_FILE.md5
export KAFKA_MD5=5d2bc965cf3df848cd1f8e33e294f29e
export KAFKA_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/kafka
export KAFKA_CONF_TEMPLATE_FILE=$TEMPLATES_FOLDER/server.properties

export STORM_FILE_WGET=http://www.apache.org/dist/storm/apache-storm-0.9.5
export STORM_FILE=apache-storm-0.9.5.tar.gz
export STORM_MD5_FILE=$STORM_FILE.md5
export STORM_MD5=2489db53a34505016e38d9861154a8a3
export STORM_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/storm
export STORM_CONF_TEMPLATE_FILE=$TEMPLATES_FOLDER/storm.yaml

export IDM_GIT_URL=https://github.com/nopbyte/compose-idm.git
export IDM_GIT_COMMIT=master
export IDM_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/idm
export IDM_APPLICATION_TEMPLATE_FILE=$TEMPLATES_FOLDER/application.properties
export IDM_PIP_TEMPLATE_FILE=$TEMPLATES_FOLDER/pip.properties

export NODEJS_FILE_WGET=https://nodejs.org/dist/v4.1.2
export NODEJS_FILE=node-v4.1.2-linux-x64.tar.gz
export NODEJS_FILE_MD5=$SECURITY_FILE.md5
export NODEJS_MD5=0fdf4986da53ea7828ed3aa651a23834
export NODEJS_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/nodejs

export SECURITY_FILE_WGET=https://www.dropbox.com/s/29ncseznyu3az1a/security-server.zip?dl=1
export SECURITY_FILE=security-server.zip
export SECURITY_FILE_MD5=$SECURITY_FILE.md5
export SECURITY_MD5=e6ca02fda5d5450496e458054ac070ad
export SECURITY_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/security-server

export JAVA_HOME=$JDK8_INSTALL_DIR
export NODEJS_HOME=$NODEJS_INSTALL_DIR
export PATH=$NODEJS_HOME/bin:$JAVA_HOME/bin:$PATH

