export USERNAME=yourusername

#!/bin/bash

if [ -z "$ROOT" ]
then
   ROOT=$(while ! test -e env.sh.sample; do cd ..; done; pwd)
	export ROOT
fi


export SCRIPTS_FOLDER=$ROOT/scripts
export MACHINE_FILES_FOLDER=$ROOT/machine-files


#EDIT ME
export FILE_REPOSITORY=/home/dcarrera/COMPOSE/servioticy-repository
export SERVIOTICY_INSTALL_DIR=/scratch/hdd/$USERNAME/servioticy
export MACHINE_FILE_CB=couchbase.machines
export MACHINE_FILE_ES=elasticsearch.machines
#IF NEEDED


export CB_FILE_WGET=http://packages.couchbase.com/releases/3.1.0
export CB_FILE=couchbase-server-enterprise_3.1.0-ubuntu12.04_amd64.deb
export CB_FILE_MD5=$CB_FILE.md5
export CB_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/couchbase


export ES_FILE_WGET=https://download.elastic.co/elasticsearch/elasticsearch
export ES_FILE=elasticsearch-1.7.2.tar.gz
export ES_FILE_SHA1=$ES_FILE.sha1.txt
export ES_INSTALL_DIR=$SERVIOTICY_INSTALL_DIR/elasticsearch




